In [5]:
import pandas as pd

Creamos un diccionario con paises.

In [6]:
dataPaises = {
    "pais": ["España", "Francia", "Colombia", "Mexico", "Peru"], 
    "capital": ["Madrid", "Paris", "Bogota", "Ciudad de Mexico", "Lima"],
    "superficie": [1.9, 2.5, 3.9, 4.0, 2.8],
}

Creamos un DataFrame con el diccionario.

In [7]:
df = pd.DataFrame(dataPaises)
df

       pais           capital  superficie
0    España            Madrid         1.9
1   Francia             Paris         2.5
2  Colombia            Bogota         3.9
3    Mexico  Ciudad de Mexico         4.0
4      Peru              Lima         2.8

Por ejemplo, podemos dibujar solamente una columna

In [8]:
df[['capital']]

            capital
0            Madrid
1             Paris
2            Bogota
3  Ciudad de Mexico
4              Lima

podemos dibujar mas de una columna

In [10]:
df[['capital', 'superficie']]

            capital  superficie
0            Madrid         1.9
1             Paris         2.5
2            Bogota         3.9
3  Ciudad de Mexico         4.0
4              Lima         2.8

Se pueden seleccionar filas por su disposicion del indice.
Primero incluido y el segundo no incluido.

In [11]:
df[2:5]

       pais           capital  superficie
2  Colombia            Bogota         3.9
3    Mexico  Ciudad de Mexico         4.0
4      Peru              Lima         2.8

Por defecto, los indices de los elementos son numericos y los pone automaticamente.
Podemos crear nuestros propios indices y sustituir el index.

In [13]:
df.index = ["ES", "FR", "CO", "MX", "PE"]
df.reset_index()

  index      pais           capital  superficie
0    ES    España            Madrid         1.9
1    FR   Francia             Paris         2.5
2    CO  Colombia            Bogota         3.9
3    MX    Mexico  Ciudad de Mexico         4.0
4    PE      Peru              Lima         2.8